@{
    ViewBag.Title = "About Page";
}
@{
    Layout = "_LayoutReg";
}

<div class="row">

    <div class="col-md-12">
        <h1>Hello, user!</h1>
        <p>
            You might wondering what it is a commission and why this site is intended. <br />
            Well, in art, a <b>commission</b> is the hiring and payment for the creation of a piece, often on behalf of another.  <br />
            There are a lot of places which sell artworks, but not ideas. Artist needs an <i>inspiration</i>!
            This website will allow artists to find right customer consider to drawing preferences, cash and similar thoughts. <br />  Guests' role here is <b> Order a Commission</b> and wait for artist's answer.
        </p>

    </div>





</div>
