@*@model IEnumerable<AdvertTestTask1.ViewModels.Commission>*@
@{
    Layout = "_Layout";
}
@{ 
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-12">
        <div class="semiopacity">
        <h1>Welcome to The Lucky Commission!</h1>
        <p>Often artists are searching for customers all by themself. At the same time customer is searching for suitable artist. <br/> 
        This website will allow artists to find right customer consider to drawing preferences and cash. <br />  Guests' role here is <b> Order a Commission</b> and wait for artist's answer. </p>
      </div>
</div>

    <div class="col-md-6">
        <h2>Dashboard</h2>
        <a asp-controller="Account" asp-action="Register">Register</a> or <a asp-controller="Account" asp-action="Login">Log in</a> to <b>Order a Commission</b> or view <b>Commission's list</b>.
      


    </div>



</div>